<!DOCTYPE html>
<html>
<head>
  <title>Order Items List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: cyan;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid black;
    }

    th {
      background-color: cyan;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: green;
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
    }


  </style>
</head>
<body>
  <h1>Order Items List</h1>
  <% if @order_items.any? %>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>

          <th>Product ID</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.order_id %></td>

            <td><%= order_item.product_id %></td>
            <td><%= order_item.quantity %></td>
            <td>Rs. <%= order_item.unit_price %></td>
            <td>Rs. <%= order_item.total %></td>
            <td><%= order_item.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No order items found.</p>
  <% end %>
</body>
</html>


