<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0
    }

    .navbar {
      background-color: #007bff;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    .navbar a {
      color: #fff;
      text-decoration: none;
      padding: 5px 10px;
    }

    .navbar a:hover {
      background-color: #0056b3;
    }

    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 10px;
    }

    .notice, .alert {
      color: green;
      font-weight: bold;
      margin-bottom: 10px;
    }


  </style>
</head>
<body>
  <div class="navbar">
  <div><%= link_to "Home", shops_path %></div>
  <li><%= link_to 'About Us', about_us_shops_path %></li>

  <li><%= link_to 'Contact Us', contact_us_shops_path %></li>
  <% if user_signed_in? %> 
    <div class="welcome-message"></div>
      <%= link_to "Add Product", new_product_path %>

      <%= link_to " Cart #{current_order.order_items.size} ", cards_show_path %>


       <%= link_to "Order History", user_order_items_path %>
      <div><%= button_to "Sign out", destroy_user_session_path, method: :delete %></div>
    <% else %>
      <div><%= link_to "Sign up", new_user_registration_path %></div>
      <div><%= link_to "Sign in", new_user_session_path %></div>
    <% end %>
  </div>

  <div class="container">
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 

    <%= yield %>
  </div>
</body>
</html>

